@media (max-width: 374px) {
  .pagination {
    margin: 40px 0 0 0;
    gap: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 279px;
  }

  .arrows-box-left {
    display: flex;
    flex-direction: row;
    gap: 6px;
  }

  .double-left {
    width: 35px;
    height: 35px;
    cursor: pointer;
  }

  .double-left:hover {
    border-radius: 100%;
    border: 1px solid #f6b83d;
  }

  .single-left {
    width: 35px;
    height: 35px;
    cursor: pointer;
  }

  .single-left:hover {
    border-radius: 100%;
    border: 1px solid #f6b83d;
  }

  .arrows-box-right {
    display: flex;
    flex-direction: row;
    gap: 6px;
  }

  .single-right {
    width: 35px;
    height: 35px;
    cursor: pointer;
  }

  .single-right:hover {
    border-radius: 100%;
    border: 1px solid #f6b83d;
  }

  .double-right {
    width: 35px;
    height: 35px;
    cursor: pointer;
  }

  .double-right:hover {
    border-radius: 100%;
    border: 1px solid #f6b83d;
  }

  .page-number {
    width: 35px;
    height: 35px;
    border-radius: 100%;
    border: 1px solid lightgray;
    cursor: pointer;

    font-family: var(--font-family);
    font-weight: 700;
    font-size: 14px;
    line-height: 129%;
    color: #262626;
    transition: all 0.3s ease;
  }

  .page-number:hover {
    background: #f6b83d;
    color: #fff;
  }

  .page-number.active {
    pointer-events: none;
    cursor: default;
    background: #f6b83d;
    color: #fff;
  }

  .page-box {
    display: flex;
    flex-direction: row;
    gap: 5px;
  }

  .disabled {
    visibility: hidden;
  }

  .disabled-double-arrows {
    pointer-events: none;
    opacity: 0.5;
    cursor: not-allowed;
  }
}

@media (min-width: 375px) {
  .pagination {
    margin: 44px 0 0 0;
    gap: 11px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 334px;
  }

  .arrows-box-left {
    display: flex;
    flex-direction: row;
    gap: 6px;
  }

  .double-left {
    width: 40px;
    height: 40px;
    cursor: pointer;
  }

  .double-left:hover {
    border-radius: 100%;
    border: 1px solid #f6b83d;
  }

  .single-left {
    width: 40px;
    height: 40px;
    cursor: pointer;
  }

  .single-left:hover {
    border-radius: 100%;
    border: 1px solid #f6b83d;
  }

  .arrows-box-right {
    display: flex;
    flex-direction: row;
    gap: 6px;
  }

  .single-right {
    width: 40px;
    height: 40px;
    cursor: pointer;
  }

  .single-right:hover {
    border-radius: 100%;
    border: 1px solid #f6b83d;
  }

  .double-right {
    width: 40px;
    height: 40px;
    cursor: pointer;
  }

  .double-right:hover {
    border-radius: 100%;
    border: 1px solid #f6b83d;
  }

  .page-number {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    border: 1px solid lightgray;
    cursor: pointer;

    font-family: var(--font-family);
    font-weight: 700;
    font-size: 14px;
    line-height: 129%;
    color: #262626;
    transition: all 0.3s ease;
  }

  .page-number:hover {
    background: #f6b83d;
    color: #fff;
  }

  .page-number.active {
    pointer-events: none;
    cursor: default;
    background: #f6b83d;
    color: #fff;
  }

  .page-box {
    display: flex;
    flex-direction: row;
    gap: 10px;
  }

  .disabled {
    visibility: hidden;
  }

  .disabled-double-arrows {
    pointer-events: none;
    opacity: 0.5;
    cursor: not-allowed;
  }
}

@media (min-width: 768px) {
  .pagination {
    margin: 60px 129px 0 129px;
    gap: 24px;
    width: 446px;
  }

  .arrows-box-left {
    gap: 8px;
  }

  .double-left {
    width: 44px;
    height: 44px;
  }

  .double-left:hover {
  }

  .single-left {
    width: 44px;
    height: 44px;
  }

  .single-left:hover {
  }

  .arrows-box-right {
    gap: 8px;
  }

  .single-right {
    width: 44px;
    height: 44px;
  }

  .single-right:hover {
  }

  .double-right {
    width: 44px;
    height: 44px;
  }

  .double-right:hover {
  }

  .page-number {
    width: 44px;
    height: 44px;

    font-size: 18px;
    line-height: 122%;
  }

  .page-number:hover {
  }

  .page-number.active {
  }

  .disabled {
  }

  .disabled-double-arrows {
  }
}

@media (min-width: 1280px) {
  .pagination {
    margin: 60px auto 0 auto;
  }

  .arrows-box-left {
  }

  .double-left {
  }

  .single-left {
  }

  .arrows-box-right {
  }

  .single-right {
  }

  .double-right {
  }

  .page-number {
  }

  .page-number:hover {
  }

  .page-number.active {
  }

  .disabled {
  }

  .disabled-double-arrows {
  }
}
