@media (max-width: 374px) {
  .close {
    fill: #262626;
    width: 25px;
    height: 25px;
    position: absolute;
    top: 0;
    left: 100px;
    cursor: pointer;
  }

  .close:hover {
    fill: #f6b83d;
    transition-duration: 300ms;
    transition-delay: 100ms;
  }

  .attention-modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(50, 48, 48, 0.75);
    width: 100vw;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
  }

  .attention-modal-content {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 20px 20px 40px 20px;
    border-radius: 30px;
    width: 280px;
    height: 360px;
    background: #fff;
  }
}

@media (min-width: 375px) {
  .close {
    fill: #262626;
    width: 25px;
    height: 25px;
    position: absolute;
    top: 0;
    left: 124px;
    cursor: pointer;
  }

  .close:hover {
    fill: #f6b83d;
    transition-duration: 300ms;
    transition-delay: 100ms;
  }

  .attention-modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(50, 48, 48, 0.75);
    width: 100vw;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
  }

  .attention-modal-content {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 20px 20px 40px 20px;
    border-radius: 30px;
    width: 335px;
    height: 394px;
    background: #fff;
  }
}

@media (min-width: 768px) {
  .close {
    left: 186px;
  }

  .attention-modal-content {
    width: 466px;
    height: 434px;
    padding: 20px 60px 60px 60px;
  }
}

@media (min-width: 1280px) {
}
