@media (max-width: 374px) {
  .item {
    border-radius: 15px;
    width: 280px;
    height: 160px;
    background: #fff;
    padding: 12px 12px 30px 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }

  .content {
    display: flex;
    flex-direction: column;
  }

  .info {
    display: flex;
    gap: 12px;
  }

  .contacts-and-title-container {
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 196px;
  }

  .email-address-phone-container {
    display: flex;
    flex-direction: column;
    gap: 6px;
  }

  .work-time {
    border-radius: 30px;
    padding: 8px;
    height: 30px;
    background: #fff4df;

    font-family: var(--font-family);
    font-weight: 500;
    font-size: 11px;
    line-height: 133%;
    letter-spacing: -0.02em;
    color: #f6b83d;
  }

  .logo-img {
    width: 60px;
    height: 60px;
  }

  .title {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 14px;
    line-height: 125%;
    letter-spacing: -0.04em;
    color: #262626;
  }

  .contacts-data {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 12px;
    line-height: 129%;
    letter-spacing: -0.02em;
    color: rgba(38, 38, 38, 0.5);

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 170px;
  }

  .contact-value {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 12px;
    line-height: 129%;
    letter-spacing: -0.02em;
    color: #262626;
  }

  .contact-value:hover {
    text-decoration: underline;
  }

  .only {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 14px;
    line-height: 129%;
    letter-spacing: -0.02em;
    color: #262626;
  }
}

@media (min-width: 375px) {
  .item {
    border-radius: 15px;
    width: 335px;
    height: 184px;
    background: #fff;
    padding: 12px 12px 40px 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }

  .content {
    display: flex;
    flex-direction: column;
  }

  .info {
    display: flex;
    gap: 14px;
  }

  .contacts-and-title-container {
    display: flex;
    flex-direction: column;
    gap: 14px;
    width: 196px;
  }

  .email-address-phone-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  .work-time {
    border-radius: 30px;
    padding: 8px;
    height: 32px;
    background: #fff4df;

    font-family: var(--font-family);
    font-weight: 500;
    font-size: 12px;
    line-height: 133%;
    letter-spacing: -0.02em;
    color: #f6b83d;
  }

  .logo-img {
    width: 80px;
    height: 80px;
  }

  .title {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 16px;
    line-height: 125%;
    letter-spacing: -0.04em;
    color: #262626;
  }

  .contacts-data {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 14px;
    line-height: 129%;
    letter-spacing: -0.02em;
    color: rgba(38, 38, 38, 0.5);

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 200px;
  }

  .contact-value {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 14px;
    line-height: 129%;
    letter-spacing: -0.02em;
    color: #262626;
  }

  .contact-value:hover {
    text-decoration: underline;
  }

  .only {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 14px;
    line-height: 129%;
    letter-spacing: -0.02em;
    color: #262626;
  }
}

@media (min-width: 768px) {
  .item {
    width: 342px;
    height: 196px;
  }
}

@media (min-width: 1280px) {
  .item {
    width: 371px;
  }
}
