@media (max-width: 374px) {
}

@media (min-width: 375px) {
  .user-pets-list {
    display: flex;
    flex-direction: column;
    gap: 14px;
  }
}

@media (min-width: 768px) {
  .user-pets-list {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

@media (min-width: 1280px) {
}
