@media (max-width: 374px) {
}

@media (min-width: 375px) {
  .card {
    padding: 18px 20px 40px 20px;
    border-radius: 30px;
    width: 335px;
    height: auto;
    background: #fff;
  }

  .edit-block {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .user-and-person {
    display: flex;
    gap: 4px;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    padding: 10px 14px;
    width: 80px;
    height: 38px;
    background: #f6b83d;
  }

  .user {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 14px;
    line-height: 129%;
    letter-spacing: -0.02em;
    color: #fff;
  }

  .person-icon {
    width: 18px;
    height: 18px;
    fill: #fff;
  }

  .user-pets-blocks {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin: 0 0 20px 0;
  }
}

@media (min-width: 768px) {
  .card {
    padding: 40px 40px 40px 40px;
    border-radius: 60px;
    width: 704px;
  }

  .edit-block {
    align-items: flex-start;
    margin: 0 0 20px 0;
  }
}

@media (min-width: 1280px) {
}
