.burger-modal-overlay {
  position: fixed;
  top: 0;
  left: auto;
  right: 0;
  bottom: 0;
  background-color: rgba(50, 48, 48, 0.75);
  width: 100vw;
  height: 100vh;
}

.burger-modal-content {
  position: absolute;
  right: 0;
  width: 218px;
  height: 100vh;
  background: #fff;
  padding: 28px 20px 40px 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.burger-modal-content-logged {
  position: absolute;
  right: 0;
  width: 218px;
  height: 100vh;
  background: #f6b83d;
  padding: 28px 20px 40px 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.close {
  fill: #262626;
  width: 32px;
  height: 32px;
  position: absolute;
  top: 10px;
  right: 13px;
  cursor: pointer;
}

.close:hover {
  fill: #f6b83d;
  transition-duration: 300ms;
  transition-delay: 100ms;
}

.close-logged {
  fill: #fff;
  width: 32px;
  height: 32px;
  position: absolute;
  top: 10px;
  right: 13px;
  cursor: pointer;
}

.close-logged:hover {
  fill: #262626;
  transition-duration: 300ms;
  transition-delay: 100ms;
}

@media (min-width: 768px) {
  .burger-modal-content {
    width: 374px;
  }

  .burger-modal-content-logged {
    width: 374px;
  }
}
