.main {
  display: flex;
  justify-content: center;
}

.main-background {
  margin: -16px -35px;
  background-position: center;
  background-clip: border-box;
  background-size: cover;
  height: 100vh;

  background-image: image-set(
    url("/public/background-image-mob1x.jpg") 1x,
    url("/public/background-image-mob2x.jpg") 2x
  );
}

@media (min-width: 768px) {
  .main-background {
    background-image: image-set(
      url("/public/background-image-tablet1x.jpg") 1x,
      url("/public/background-image-tablet2x.jpg") 2x
    );
  }
}

@media (min-width: 1280px) {
  .main-background {
    background-image: image-set(
      url("/public/background-image1x.jpg") 1x,
      url("/public/background-image2x.jpg") 2x
    );
  }
}
