@media (max-width: 374px) {
  .find-pet-section {
    margin: 40px 20px 88px 20px;
  }
}

@media (min-width: 375px) {
  .find-pet-section {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    margin: 50px 20px 88px 20px;
  }
}

@media (min-width: 768px) {
  .find-pet-section {
    margin: 85px 32px 88px 32px;
  }
}

@media (min-width: 1280px) {
  .find-pet-section {
    margin: 96px 32px 80px 32px;
  }
}
