.header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 18px;
}

.header-nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}

.header-home-path {
  display: flex;
  justify-content: center;
  position: relative;

  padding-top: 18px;
  padding-left: 20px;
  padding-right: 20px;
}

@media (max-width: 374px) {
  .hidden-nav-div {
    display: none;
  }

  .user-and-auth {
    display: none;
  }

  .burger {
    height: 32px;
    width: 32px;
    stroke: black;
    cursor: pointer;
  }

  .burger:hover {
    stroke: #f6b83d;
    transition-duration: 300ms;
    transition-delay: 100ms;
  }

  .burger-home-page {
    height: 32px;
    width: 32px;
    stroke: #fff;
    cursor: pointer;
  }

  .burger-div-mob {
    display: flex;
    align-items: center;
    gap: 6px;
  }

  .for-tablet-bar-nav {
    display: none;
  }
}

@media (min-width: 375px) {
  .hidden-nav-div {
    display: none;
  }
  .user-and-auth {
    display: none;
  }

  .burger {
    height: 32px;
    width: 32px;
    stroke: black;
    cursor: pointer;
  }

  .burger:hover {
    stroke: #f6b83d;
    transition-duration: 300ms;
    transition-delay: 100ms;
  }

  .burger-home-page {
    height: 32px;
    width: 32px;
    stroke: #fff;
    cursor: pointer;
  }

  .burger-div-mob {
    display: flex;
    align-items: center;
    gap: 6px;
  }

  .for-tablet-bar-nav {
    display: none;
  }
}

@media (min-width: 768px) {
  .header {
    padding-top: 16px;
  }

  .header-home-path {
    padding-top: 16px;
    padding-left: 32px;
    padding-right: 32px;
  }

  .user-and-auth {
    display: block;
  }

  .burger {
    height: 36px;
    width: 36px;
    stroke: black;
  }

  .burger-home-page {
    height: 32px;
    width: 32px;
    stroke: #fff;
    cursor: pointer;
  }

  .burger-div-mob {
    display: none;
  }

  .burger-div-tablet {
    display: block;
  }

  .for-tablet-bar-nav {
    display: flex;
    gap: 16px;
    align-items: center;
  }
}

@media (min-width: 1280px) {
  .header-home-path {
    padding-left: 64px;
    padding-right: 64px;
  }

  .hidden-nav-div {
    display: block;
  }

  .burger {
    display: none;
  }

  .burger-home-page {
    display: none;
  }

  .burger-div {
    display: none;
  }

  .for-tablet-bar-nav {
    display: none;
  }
}
