.icon {
  width: 24px;
  height: 24px;
  fill: #f6b83d;
}

.icon:hover {
  transition-duration: 300ms;
  transition-delay: 100ms;
  fill: #fbc965;
}

.icon-home {
  width: 24px;
  height: 24px;
  fill: #f6b83d;
}

.icon-div {
  width: 40px;
  height: 40px;
  background: #fff4df;
  border-radius: 50%;
  display: block;
  align-content: center;
  justify-items: center;
  cursor: pointer;
}

.icon-div:hover {
  transition-duration: 300ms;
  transition-delay: 100ms;
  background: #fdeccd;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.icon-div-home {
  width: 40px;
  height: 40px;
  background: #f7f3eb;
  border-radius: 50%;
  display: block;
  align-content: center;
  justify-items: center;
  cursor: pointer;
}

.user-name {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: -0.03em;
  color: #262626;
}

.user-name-home {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: -0.03em;
  color: #fff;
}

@media (min-width: 320px) {
  .user-name {
    display: none;
  }

  .user-name-home {
    display: none;
  }
}

@media (min-width: 768px) {
  .user-name {
    display: block;
  }

  .user-name-home {
    display: block;
  }

  .icon-div {
    width: 50px;
    height: 50px;
  }

  .icon-div-home {
    width: 50px;
    height: 50px;
  }
}

@media (min-width: 1280px) {
}
