@media (min-width: 320px) {
  .loginlink {
    border-radius: 30px;
    padding: 12px 66px;
    width: 178px;
    height: 42px;
    background: #f6b83d;

    font-family: var(--font-family);
    font-weight: 700;
    font-size: 14px;
    line-height: 129%;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    color: #fff;
    cursor: pointer;
  }

  .loginlink:hover {
    transition-duration: 300ms;
    transition-delay: 100ms;
    background: #f9ca6c;
    color: #fff;
  }

  .loginlink-home {
    border: 1px solid rgba(255, 255, 255, 0.4);
    border-radius: 30px;
    padding: 12px 66px;
    width: 178px;
    height: 42px;
    background: #f6b83d;

    font-family: var(--font-family);
    font-weight: 700;
    font-size: 14px;
    line-height: 129%;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    color: #fff;
    cursor: pointer;
  }

  .reglink {
    border-radius: 30px;
    padding: 12px 41px;
    width: 178px;
    height: 42px;
    background: #fff4df;

    font-family: var(--font-family);
    font-weight: 700;
    font-size: 14px;
    line-height: 129%;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    color: #f6b83d;
    cursor: pointer;
  }

  .reglink:hover {
    transition-duration: 300ms;
    transition-delay: 100ms;
    background: #ffe8be;
    color: #f6b83d;
  }
}

@media (min-width: 768px) {
  .loginlink {
    padding: 15px 33px;
    width: 119px;
    height: 50px;

    font-size: 16px;
    line-height: 125%;
  }

  .loginlink-home {
    border: 1px solid rgba(255, 255, 255, 0.4);
    padding: 15px 33px;
    width: 120px;
    height: 50px;

    font-size: 16px;
    line-height: 125%;
  }

  .reglink {
    padding: 15px 20px;
    width: 149px;
    height: 50px;

    font-size: 16px;
    line-height: 125%;
  }
}

@media (min-width: 1280px) {
}
