.logoutBtn {
  border: 1px solid #fff;
  border-radius: 30px;
  padding: 15px 35px;
  width: 137px;
  height: 50px;
  background: #f6b83d;

  font-family: var(--font-family);
  font-weight: 700;
  font-size: 16px;
  line-height: 125%;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: #fff;
}

.logoutBtn:hover {
  border: 1px solid #fff;
  transition-duration: 300ms;
  transition-delay: 100ms;
  background: #f9ca6c;
  color: #fff;
}
