@media (max-width: 374px) {
}

@media (min-width: 375px) {
  .user-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 28px;
  }

  .upload-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
  }

  .upload-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100px;
    padding: 10px;
    width: 94px;
    height: 94px;
    background: #fff4df;
  }

  .upload-icon {
    width: 40px;
    height: 40px;
    fill: #f6b83d;
  }

  .upload-input {
    display: none;
  }

  .upload {
    cursor: pointer;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 12px;
    line-height: 133%;
    letter-spacing: -0.02em;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: #262626;
  }

  .info-block {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .info-title {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 16px;
    line-height: 125%;
    color: #2b2b2a;
  }

  .info-inputs-block {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .info-input {
    border: 1px solid rgba(38, 38, 38, 0.15);
    border-radius: 30px;
    padding: 12px 12px 12px 12px;
    width: 295px;
    height: 42px;
  }

  .info-input::placeholder {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 14px;
    line-height: 129%;
    letter-spacing: -0.03em;
    color: #262626;
  }
}

@media (min-width: 768px) {
}

@media (min-width: 1280px) {
}
