@media (max-width: 374px) {
  .search {
    border: 1px solid rgba(38, 38, 38, 0.15);
    border-radius: 30px;
    padding: 8px 8px 8px 8px;
    width: 280px;
    height: 35px;
    background: transparent;
  }

  .search::placeholder {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 14px;
    line-height: 129%;
    letter-spacing: -0.03em;
    color: rgba(38, 38, 38, 0.5);
  }

  .search:hover {
    border: 1px solid #f6b83d;
  }

  .loop-and-cross {
    position: absolute;
    display: flex;
    gap: 5px;
    left: 80%;
    top: 28%;
  }

  .search-icon {
    width: 18px;
    height: 18px;
    cursor: pointer;
  }

  .search-icon-btn {
  }

  .search-icon:hover {
    color: lightgray;
    transition: color 0.3s ease;
  }

  .red-cross {
    width: 20px;
    height: 20px;
    cursor: pointer;
    color: #ef2447;
  }

  .red-cross-btn {
    visibility: hidden;
  }

  .red-cross:hover {
    color: lightgray;
    transition: color 0.3s ease;
  }
}

@media (min-width: 375px) {
  .search {
    border: 1px solid rgba(38, 38, 38, 0.15);
    border-radius: 30px;
    padding: 12px 12px 12px 12px;
    width: 335px;
    height: 42px;
    background: transparent;
  }

  .search-notices {
    border-radius: 30px;
    padding: 12px 12px 12px 12px;
    width: 295px;
    height: 42px;
    background: #fff;
  }

  .search::placeholder {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 14px;
    line-height: 129%;
    letter-spacing: -0.03em;
    color: rgba(38, 38, 38, 0.5);
  }

  .search-notices::placeholder {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 14px;
    line-height: 129%;
    letter-spacing: -0.03em;
    color: #262626;
  }

  .search:hover {
    border: 1px solid #f6b83d;
  }

  .loop-and-cross {
    position: absolute;
    display: flex;
    gap: 5px;
    left: 84%;
    top: 31%;
  }

  .loop-and-cross-notices {
    position: absolute;
    display: flex;
    gap: 5px;
    left: 82%;
    top: 31%;
  }

  .search-icon {
    width: 18px;
    height: 18px;
    cursor: pointer;
  }

  .search-icon-btn {
  }

  .search-icon:hover {
    color: lightgray;
    transition: color 0.3s ease;
  }

  .red-cross-btn {
    visibility: hidden;
  }

  .red-cross {
    width: 20px;
    height: 20px;
    cursor: pointer;
    color: #ef2447;
  }

  .red-cross:hover {
    color: lightgray;
    transition: color 0.3s ease;
  }
}

@media (min-width: 768px) {
  .search {
    padding: 14px 14px 14px 14px;
    width: 230px;
    height: 48px;
  }

  .search-notices {
    padding: 14px 14px 14px 14px;
    width: 265px;
    height: 48px;
  }

  .search::placeholder {
    font-size: 16px;
    line-height: 125%;
  }

  .search-notices::placeholder {
    font-size: 16px;
    line-height: 125%;
  }

  .loop-and-cross {
    position: absolute;
    display: flex;
    gap: 5px;
    left: 76%;
    top: 32%;
  }

  .loop-and-cross-notices {
    position: absolute;
    display: flex;
    gap: 5px;
    left: 71%;
    top: 31%;
  }

  .search-icon {
  }

  .search-icon:hover {
  }

  .red-cross {
  }

  .red-cross:hover {
  }
}

@media (min-width: 1280px) {
  .search {
  }

  .search::placeholder {
  }

  .loop-and-cross {
  }

  .search-icon {
  }

  .search-icon:hover {
  }

  .red-cross {
  }

  .red-cross:hover {
  }
}
